.container{
    text-align: center;
    width: 100%;
    min-height: 300px;
    position: relative;
    margin-bottom: 40px;

}

.child{
    background-repeat: repeat;
}
.container:after{
    display: table;
    clear: both;
}
.profileImg{
    border-radius: 50%;
    border: 5px solid rgb(179, 246, 157);
    width: 20%;
    min-width: 180px;
    margin-top: 4%;
    margin-bottom: 2%;
}